In [ ]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [9]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

print (movies.head())

   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
4                    131.0                     NaN        Rob Walker

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
4                   131.0          NaN                      Documentary  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0

[5 rows x 28 columns]

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [10]:
movies = pd.read_csv(r"C:\Users\anany\Downloads\Movie+Assignment+Data.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [11]:
print (movies.head()

   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
4                    131.0                     NaN        Rob Walker

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
4                   131.0          NaN                      Documentary  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0

[5 rows x 28 columns]

In [12]:
print (movies.columns)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [13]:
print (movies.shape)

(5043, 28)

In [14]:
# Display the first few rows of the DataFrame
print("First few rows:")
print(movies.head())

# Display the columns
print("\nColumns:")
print(movies.columns)

# Display the shape of the DataFrame
print("\nShape:")
print(movies.shape)

# Display the data types of each column
print("\nData Types:")
print(movies.dtypes)

# Display a concise summary of the DataFrame
print("\nInfo:")
print(movies.info())

# Display descriptive statistics for numeric columns
print("\nDescriptive Statistics (numeric columns):")
print(movies.describe())

# Display descriptive statistics for all columns
print("\nDescriptive Statistics (all columns):")
print(movies.describe(include='all'))

First few rows:
   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
4                    131.0                     NaN        Rob Walker

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
4                   131.0          NaN                      Documentary  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0

[5 rows x 28 columns]

Columns:
Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Shape:
(5043, 28)

Data Types:
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None

Descriptive Statistics (numeric columns):
       num_critic_for_reviews     duration  director_facebook_likes  \
count             4993.000000  5028.000000              4939.000000
mean               140.194272   107.201074               686.509212
std                121.601675    25.197441              2813.328607
min                  1.000000     7.000000                 0.000000
25%                 50.000000    93.000000                 7.000000
50%                110.000000   103.000000                49.000000
75%                195.000000   118.000000               194.500000
max                813.000000   511.000000             23000.000000

       actor_3_facebook_likes  actor_1_facebook_likes         gross  \
count             5020.000000             5036.000000  4.159000e+03
mean               645.009761             6560.047061  4.846841e+07
std               1665.041728            15020.759120  6.845299e+07
min                  0.000000                0.000000  1.620000e+02
25%                133.000000              614.000000  5.340988e+06
50%                371.500000              988.000000  2.551750e+07
75%                636.000000            11000.000000  6.230944e+07
max              23000.000000           640000.000000  7.605058e+08

       num_voted_users  cast_total_facebook_likes  facenumber_in_poster  \
count     5.043000e+03                5043.000000           5030.000000
mean      8.366816e+04                9699.063851              1.371173
std       1.384853e+05               18163.799124              2.013576
min       5.000000e+00                   0.000000              0.000000
25%       8.593500e+03                1411.000000              0.000000
50%       3.435900e+04                3090.000000              1.000000
75%       9.630900e+04               13756.500000              2.000000
max       1.689764e+06              656730.000000             43.000000

       num_user_for_reviews        budget   title_year  \
count           5022.000000  4.551000e+03  4935.000000
mean             272.770808  3.975262e+07  2002.470517
std              377.982886  2.061149e+08    12.474599
min                1.000000  2.180000e+02  1916.000000
25%               65.000000  6.000000e+06  1999.000000
50%              156.000000  2.000000e+07  2005.000000
75%              326.000000  4.500000e+07  2011.000000
max             5060.000000  1.221550e+10  2016.000000

       actor_2_facebook_likes   imdb_score  aspect_ratio  movie_facebook_likes
count             5030.000000  5043.000000   4714.000000           5043.000000
mean              1651.754473     6.442138      2.220403           7525.964505
std               4042.438863     1.125116      1.385113          19320.445110
min                  0.000000     1.600000      1.180000              0.000000
25%                281.000000     5.800000      1.850000              0.000000
50%                595.000000     6.600000      2.350000            166.000000
75%                918.000000     7.200000      2.350000           3000.000000
max             137000.000000     9.500000     16.000000         349000.000000

Descriptive Statistics (all columns):
        color     director_name  num_critic_for_reviews     duration  \
count    5024              4939             4993.000000  5028.000000
unique      2              2398                     NaN          NaN
top     Color  Steven Spielberg                     NaN          NaN
freq     4815                26                     NaN          NaN
mean      NaN               NaN              140.194272   107.201074
std       NaN               NaN              121.601675    25.197441
min       NaN               NaN                1.000000     7.000000
25%       NaN               NaN               50.000000    93.000000
50%       NaN               NaN              110.000000   103.000000
75%       NaN               NaN              195.000000   118.000000
max       NaN               NaN              813.000000   511.000000

        director_facebook_likes  actor_3_facebook_likes    actor_2_name  \
count               4939.000000             5020.000000            5030
unique                      NaN                     NaN            3032
top                         NaN                     NaN  Morgan Freeman
freq                        NaN                     NaN              20
mean                 686.509212              645.009761             NaN
std                 2813.328607             1665.041728             NaN
min                    0.000000                0.000000             NaN
25%                    7.000000              133.000000             NaN
50%                   49.000000              371.500000             NaN
75%                  194.500000              636.000000             NaN
max                23000.000000            23000.000000             NaN

        actor_1_facebook_likes         gross genres  ... num_user_for_reviews  \
count              5036.000000  4.159000e+03   5043  ...          5022.000000
unique                     NaN           NaN    914  ...                  NaN
top                        NaN           NaN  Drama  ...                  NaN
freq                       NaN           NaN    236  ...                  NaN
mean               6560.047061  4.846841e+07    NaN  ...           272.770808
std               15020.759120  6.845299e+07    NaN  ...           377.982886
min                   0.000000  1.620000e+02    NaN  ...             1.000000
25%                 614.000000  5.340988e+06    NaN  ...            65.000000
50%                 988.000000  2.551750e+07    NaN  ...           156.000000
75%               11000.000000  6.230944e+07    NaN  ...           326.000000
max              640000.000000  7.605058e+08    NaN  ...          5060.000000

       language  country  content_rating        budget   title_year  \
count      5029     5038            4740  4.551000e+03  4935.000000
unique       46       65              18           NaN          NaN
top     English      USA               R           NaN          NaN
freq       4704     3807            2118           NaN          NaN
mean        NaN      NaN             NaN  3.975262e+07  2002.470517
std         NaN      NaN             NaN  2.061149e+08    12.474599
min         NaN      NaN             NaN  2.180000e+02  1916.000000
25%         NaN      NaN             NaN  6.000000e+06  1999.000000
50%         NaN      NaN             NaN  2.000000e+07  2005.000000
75%         NaN      NaN             NaN  4.500000e+07  2011.000000
max         NaN      NaN             NaN  1.221550e+10  2016.000000

       actor_2_facebook_likes   imdb_score  aspect_ratio movie_facebook_likes
count             5030.000000  5043.000000   4714.000000          5043.000000
unique                    NaN          NaN           NaN                  NaN
top                       NaN          NaN           NaN                  NaN
freq                      NaN          NaN           NaN                  NaN
mean              1651.754473     6.442138      2.220403          7525.964505
std               4042.438863     1.125116      1.385113         19320.445110
min                  0.000000     1.600000      1.180000             0.000000
25%                281.000000     5.800000      1.850000             0.000000
50%                595.000000     6.600000      2.350000           166.000000
75%                918.000000     7.200000      2.350000          3000.000000
max             137000.000000     9.500000     16.000000        349000.000000

[11 rows x 28 columns]

In [ ]:
## Task 2: Cleaning the Data

 ### Subtask 2.1: Inspect Null values

#### Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [15]:
# Count of null values in each column
null_counts = movies.isnull().sum()

# Count of null values in each row
null_counts_rows = movies.isnull().sum(axis=1)

# Percentage of null values in each column
null_percentage = (null_counts / len(movies)) * 100

# Rounding the percentages to two decimal places
null_percentage = null_percentage.round(2)

# Display the results
print("Number of null values in each column:\n", null_counts)
print("\nPercentage of null values in each column:\n", null_percentage)
print("\nNumber of null values in each row:\n", null_counts_rows.head(28))

Number of null values in each column:
 color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

Percentage of null values in each column:
 color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.28
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

Number of null values in each row:
 0      0
1      0
2      0
3      0
4     14
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
dtype: int64

In [ ]:
# column wise null count
# written above

In [ ]:
# row-wise null count code written above

In [ ]:
# code for column-wise null percentages written above

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [16]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
# List of columns to drop
columns_to_drop = [
    'color', 'director_facebook_likes', 'actor_1_facebook_likes', 
    'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 
    'cast_total_facebook_likes', 'actor_3_name', 'duration', 
    'facenumber_in_poster', 'content_rating', 'country', 
    'movie_imdb_link', 'aspect_ratio', 'plot_keywords']

# Drop the specified columns
movies_cleaned = movies.drop(columns=columns_to_drop)

# Display the first few rows of the cleaned DataFrame to verify
print(movies_cleaned.head())

       director_name  num_critic_for_reviews        gross  \
0      James Cameron                   723.0  760505847.0
1     Gore Verbinski                   302.0  309404152.0
2         Sam Mendes                   602.0  200074175.0
3  Christopher Nolan                   813.0  448130642.0
4        Doug Walker                     NaN          NaN

                            genres     actor_1_name  \
0  Action|Adventure|Fantasy|Sci-Fi      CCH Pounder
1         Action|Adventure|Fantasy      Johnny Depp
2        Action|Adventure|Thriller  Christoph Waltz
3                  Action|Thriller        Tom Hardy
4                      Documentary      Doug Walker

                                         movie_title  num_voted_users  \
0                                            Avatar            886204
1          Pirates of the Caribbean: At World's End            471220
2                                           Spectre            275868
3                             The Dark Knight Rises           1144337
4  Star Wars: Episode VII - The Force Awakens    ...                8

   num_user_for_reviews language       budget  title_year  imdb_score  \
0                3054.0  English  237000000.0      2009.0         7.9
1                1238.0  English  300000000.0      2007.0         7.1
2                 994.0  English  245000000.0      2015.0         6.8
3                2701.0  English  250000000.0      2012.0         8.5
4                   NaN      NaN          NaN         NaN         7.1

   movie_facebook_likes
0                 33000
1                     0
2                 85000
3                164000
4                     0

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [22]:
# Write your code for dropping the rows here
# Calculate percentage of null values for each column
null_percentage = (movies_cleaned.isnull().sum() / len(movies)) * 100

# Identify columns with null percentage greater than 5%
columns_to_drop_rows = null_percentage[null_percentage > 5].index

# Drop rows with null values in the identified columns
movies_filtered = movies_cleaned.dropna(subset=columns_to_drop_rows)

# Display the shape of the DataFrame before and after dropping rows
print("Shape of DataFrame before dropping rows:", movies_cleaned.shape)
print("Shape of DataFrame after dropping rows:", movies_filtered.shape)

Shape of DataFrame before dropping rows: (5043, 13)
Shape of DataFrame after dropping rows: (3891, 13)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [18]:
# Write your code for dropping the rows here
# Replace 'NaN' strings with actual NaN values
movies_filtered.replace('NaN', np.nan, inplace=True)

# Drop rows with more than five NaN values
movies_filtered2 = movies_filtered.dropna(thresh=movies_filtered.shape[1] - 5)

# Display the shape of the DataFrame before and after dropping rows
print("Shape of DataFrame before dropping rows:", movies_filtered.shape)
print("Shape of DataFrame after dropping rows:", movies_filtered2.shape)

Shape of DataFrame before dropping rows: (3784, 28)
Shape of DataFrame after dropping rows: (3784, 28)

C:\Users\anany\AppData\Local\Temp\ipykernel_908\2251003399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_filtered.replace('NaN', np.nan, inplace=True)

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [19]:
# Write your code for filling the NaN values in the 'language' column here
movies_filtered2['language'].fillna('English', inplace=True)

# Display the first few rows of the DataFrame to verify
print(movies_filtered2)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5026  Color    Olivier Assayas                    81.0     110.0
5027  Color       Jafar Panahi                    64.0      90.0
5033  Color      Shane Carruth                   143.0      77.0
5035  Color   Robert Rodriguez                    56.0      81.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
1                       563.0                  1000.0      Orlando Bloom
2                         0.0                   161.0       Rory Kinnear
3                     22000.0                 23000.0     Christian Bale
5                       475.0                   530.0    Samantha Morton
...                       ...                     ...                ...
5026                    107.0                    45.0     Béatrice Dalle
5027                    397.0                     0.0  Nargess Mamizadeh
5033                    291.0                     8.0     David Sullivan
5035                      0.0                     6.0    Peter Marquardt
5042                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
1                    40000.0  309404152.0
2                    11000.0  200074175.0
3                    27000.0  448130642.0
5                      640.0   73058679.0
...                      ...          ...
5026                   576.0     136007.0
5027                     5.0     673780.0
5033                   291.0     424760.0
5035                   121.0    2040920.0
5042                    86.0      85222.0

                                   genres  ... num_user_for_reviews language  \
0         Action|Adventure|Fantasy|Sci-Fi  ...               3054.0  English
1                Action|Adventure|Fantasy  ...               1238.0  English
2               Action|Adventure|Thriller  ...                994.0  English
3                         Action|Thriller  ...               2701.0  English
5                 Action|Adventure|Sci-Fi  ...                738.0  English
...                                   ...  ...                  ...      ...
5026                  Drama|Music|Romance  ...                 39.0   French
5027                                Drama  ...                 26.0  Persian
5033                Drama|Sci-Fi|Thriller  ...                371.0  English
5035  Action|Crime|Drama|Romance|Thriller  ...                130.0  Spanish
5042                          Documentary  ...                 84.0  English

      country  content_rating       budget  title_year actor_2_facebook_likes  \
0         USA           PG-13  237000000.0      2009.0                  936.0
1         USA           PG-13  300000000.0      2007.0                 5000.0
2          UK           PG-13  245000000.0      2015.0                  393.0
3         USA           PG-13  250000000.0      2012.0                23000.0
5         USA           PG-13  263700000.0      2012.0                  632.0
...       ...             ...          ...         ...                    ...
5026   France               R       4500.0      2004.0                  133.0
5027     Iran       Not Rated      10000.0      2000.0                    0.0
5033      USA           PG-13       7000.0      2004.0                   45.0
5035      USA               R       7000.0      1992.0                   20.0
5042      USA              PG       1100.0      2004.0                   23.0

     imdb_score  aspect_ratio movie_facebook_likes
0           7.9          1.78                33000
1           7.1          2.35                    0
2           6.8          2.35                85000
3           8.5          2.35               164000
5           6.6          2.35                24000
...         ...           ...                  ...
5026        6.9          2.35                  171
5027        7.5          1.85                  697
5033        7.0          1.85                19000
5035        6.9          1.37                    0
5042        6.6          1.85                  456

[3784 rows x 28 columns]

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [29]:
# Write your code for checking number of retained rows here
print ("rows before", movies.shape)
print ("rows after", movies_filtered2.shape)
num_rows_before = len(movies)
num_rows_after = len(movies_filtered2)
retained_rows = num_rows_before - num_rows_after
print ("retained rows are in number:", retained_rows)

rows before (5043, 28)
rows after (3784, 28)
retained rows are in number: 1259

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [30]:
# Write your code for unit conversion here
# Convert the unit of 'budget' and 'gross' columns from $ to million $
movies_filtered2['budget'] = movies_filtered2['budget'] / 1000000
movies_filtered2['gross'] = movies_filtered2['gross'] / 1000000

# Display the first few rows of the DataFrame to verify
print(movies_filtered2)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5026  Color    Olivier Assayas                    81.0     110.0
5027  Color       Jafar Panahi                    64.0      90.0
5033  Color      Shane Carruth                   143.0      77.0
5035  Color   Robert Rodriguez                    56.0      81.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
1                       563.0                  1000.0      Orlando Bloom
2                         0.0                   161.0       Rory Kinnear
3                     22000.0                 23000.0     Christian Bale
5                       475.0                   530.0    Samantha Morton
...                       ...                     ...                ...
5026                    107.0                    45.0     Béatrice Dalle
5027                    397.0                     0.0  Nargess Mamizadeh
5033                    291.0                     8.0     David Sullivan
5035                      0.0                     6.0    Peter Marquardt
5042                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes       gross                               genres  \
0                     1000.0  760.505847      Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309.404152             Action|Adventure|Fantasy
2                    11000.0  200.074175            Action|Adventure|Thriller
3                    27000.0  448.130642                      Action|Thriller
5                      640.0   73.058679              Action|Adventure|Sci-Fi
...                      ...         ...                                  ...
5026                   576.0    0.136007                  Drama|Music|Romance
5027                     5.0    0.673780                                Drama
5033                   291.0    0.424760                Drama|Sci-Fi|Thriller
5035                   121.0    2.040920  Action|Crime|Drama|Romance|Thriller
5042                    86.0    0.085222                          Documentary

      ... num_user_for_reviews language  country  content_rating    budget  \
0     ...               3054.0  English      USA           PG-13  237.0000
1     ...               1238.0  English      USA           PG-13  300.0000
2     ...                994.0  English       UK           PG-13  245.0000
3     ...               2701.0  English      USA           PG-13  250.0000
5     ...                738.0  English      USA           PG-13  263.7000
...   ...                  ...      ...      ...             ...       ...
5026  ...                 39.0   French   France               R    0.0045
5027  ...                 26.0  Persian     Iran       Not Rated    0.0100
5033  ...                371.0  English      USA           PG-13    0.0070
5035  ...                130.0  Spanish      USA               R    0.0070
5042  ...                 84.0  English      USA              PG    0.0011

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
5         2012.0                  632.0        6.6          2.35
...          ...                    ...        ...           ...
5026      2004.0                  133.0        6.9          2.35
5027      2000.0                    0.0        7.5          1.85
5033      2004.0                   45.0        7.0          1.85
5035      1992.0                   20.0        6.9          1.37
5042      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
5                   24000
...                   ...
5026                  171
5027                  697
5033                19000
5035                    0
5042                  456

[3784 rows x 28 columns]

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [47]:
# Write your code for creating the profit column here
movies_filtered2['profit'] = movies_filtered2['gross'] - movies_filtered2['budget']

In [36]:
# Write your code for sorting the dataframe here

movies_sorted = movies_filtered2.sort_values(by='profit', ascending=False)

In [53]:
#top 10 
top10 = movies_sorted.head(10)

-  ### Subtask 3.3: Drop duplicate values

# After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [54]:
# Write your code for dropping duplicate values here
movies_unique = movies_filtered2.drop_duplicates()

In [56]:
# Write code for repeating subtask 2 here
# repeating subtask 2
# Create a new column 'profit' containing the difference between 'gross' and 'budget'
movies_unique['profit'] = movies_unique['gross'] - movies_unique['budget']

# Sort the DataFrame using the 'profit' column as a reference
mu_sorted = movies_unique.sort_values(by='profit', ascending=False)

# Extract the top ten profiting movies in descending order
top10 = mu_sorted.head(10)

# Display the top 10 profiting movies
print (top10)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
29    Color    Colin Trevorrow                   644.0     124.0
26    Color      James Cameron                   315.0     194.0
3024  Color       George Lucas                   282.0     125.0
3080  Color   Steven Spielberg                   215.0     120.0
17    Color        Joss Whedon                   703.0     173.0
509   Color       Roger Allers                   186.0      73.0
240   Color       George Lucas                   320.0     136.0
66    Color  Christopher Nolan                   645.0     152.0
439   Color          Gary Ross                   673.0     142.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
29                      365.0                  1000.0         Judy Greer
26                        0.0                   794.0       Kate Winslet
3024                      0.0                   504.0      Peter Cushing
3080                  14000.0                   548.0        Dee Wallace
17                        0.0                 19000.0  Robert Downey Jr.
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
66                    22000.0                 11000.0       Heath Ledger
439                     378.0                   575.0    Josh Hutcherson

      actor_1_facebook_likes       gross  \
0                     1000.0  760.505847
29                    3000.0  652.177271
26                   29000.0  658.672302
3024                 11000.0  460.935665
3080                   861.0  434.949459
17                   26000.0  623.279547
509                   2000.0  422.783777
240                  20000.0  474.544677
66                   23000.0  533.316061
439                  34000.0  407.999255

                                        genres  ... language country  \
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
26                               Drama|Romance  ...  English     USA
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
66                 Action|Crime|Drama|Thriller  ...  English     USA
439            Adventure|Drama|Sci-Fi|Thriller  ...  English     USA

      content_rating  budget title_year  actor_2_facebook_likes imdb_score  \
0              PG-13   237.0     2009.0                   936.0        7.9
29             PG-13   150.0     2015.0                  2000.0        7.0
26             PG-13   200.0     1997.0                 14000.0        7.7
3024              PG    11.0     1977.0                  1000.0        8.7
3080              PG    10.5     1982.0                   725.0        7.9
17             PG-13   220.0     2012.0                 21000.0        8.1
509                G    45.0     1994.0                   886.0        8.5
240               PG   115.0     1999.0                 14000.0        6.5
66             PG-13   185.0     2008.0                 13000.0        9.0
439            PG-13    78.0     2012.0                 14000.0        7.3

     aspect_ratio  movie_facebook_likes      profit
0            1.78                 33000  523.505847
29           2.00                150000  502.177271
26           2.35                 26000  458.672302
3024         2.35                 33000  449.935665
3080         1.85                 34000  424.449459
17           1.85                123000  403.279547
509          1.66                 17000  377.783777
240          2.35                 13000  359.544677
66           2.35                 37000  348.316061
439          2.35                140000  329.999255

[10 rows x 29 columns]

C:\Users\anany\AppData\Local\Temp\ipykernel_908\3818903482.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_unique['profit'] = movies_unique['gross'] - movies_unique['budget']

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [57]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

# Filter the DataFrame to include only movies with num_voted_users greater than 25,000
moviesnew = mu_sorted[mu_sorted['num_voted_users'] > 25000]

# Sort the DataFrame based on the imdb_score column in descending order
mu_imdb = moviesnew.sort_values(by='imdb_score', ascending=False)

# Select the top 250 movies
IMDb_Top_250 = mu_imdb.head(250)

# Add a new column 'Rank' containing the values 1 to 250 indicating the ranks of the corresponding films
IMDb_Top_250['Rank'] = range(1, 251)

# Display the IMDb Top 250 DataFrame
print(IMDb_Top_250)

      color         director_name  num_critic_for_reviews  duration  \
1937  Color        Frank Darabont                   199.0     142.0
3466  Color  Francis Ford Coppola                   208.0     175.0
2837  Color  Francis Ford Coppola                   149.0     220.0
66    Color     Christopher Nolan                   645.0     152.0
4498  Color          Sergio Leone                   181.0     142.0
...     ...                   ...                     ...       ...
1748  Color          F. Gary Gray                   349.0     167.0
788   Color         Cameron Crowe                   149.0     152.0
99    Color         Peter Jackson                   645.0     182.0
1871  Color          Pierre Morel                   309.0      93.0
639   Color          Michael Mann                   209.0     157.0

      director_facebook_likes  actor_3_facebook_likes     actor_2_name  \
1937                      0.0                   461.0   Jeffrey DeMunn
3466                      0.0                  3000.0    Marlon Brando
2837                      0.0                  3000.0        Al Pacino
66                    22000.0                 11000.0     Heath Ledger
4498                      0.0                    24.0   Luigi Pistilli
...                       ...                     ...              ...
1748                    473.0                   303.0   Neil Brown Jr.
788                     488.0                   947.0  Zooey Deschanel
99                        0.0                   773.0       Adam Brown
1871                    180.0                   485.0    Holly Valance
639                       0.0                   680.0         Rip Torn

      actor_1_facebook_likes       gross                               genres  \
1937                 11000.0   28.341469                          Crime|Drama
3466                 14000.0  134.821952                          Crime|Drama
2837                 22000.0   57.300000                          Crime|Drama
66                   23000.0  533.316061          Action|Crime|Drama|Thriller
4498                 16000.0    6.100000                              Western
...                      ...         ...                                  ...
1748                   559.0  161.029270  Biography|Crime|Drama|History|Music
788                  22000.0   32.522352         Adventure|Comedy|Drama|Music
99                    5000.0  303.001229                    Adventure|Fantasy
1871                 14000.0  145.000989                      Action|Thriller
639                  14000.0   28.965197             Biography|Drama|Thriller

      ... country content_rating  budget  title_year actor_2_facebook_likes  \
1937  ...     USA              R    25.0      1994.0                  745.0
3466  ...     USA              R     6.0      1972.0                10000.0
2837  ...     USA              R    13.0      1974.0                14000.0
66    ...     USA          PG-13   185.0      2008.0                13000.0
4498  ...   Italy       Approved     1.2      1966.0                   34.0
...   ...     ...            ...     ...         ...                    ...
1748  ...     USA              R    28.0      2015.0                  427.0
788   ...     USA              R    60.0      2000.0                11000.0
99    ...     USA          PG-13   180.0      2012.0                  972.0
1871  ...  France          PG-13    25.0      2008.0                  816.0
639   ...     USA              R    68.0      1999.0                  826.0

      imdb_score aspect_ratio movie_facebook_likes      profit Rank
1937         9.3         1.85               108000    3.341469    1
3466         9.2         1.85                43000  128.821952    2
2837         9.0         1.85                14000   44.300000    3
66           9.0         2.35                37000  348.316061    4
4498         8.9         2.35                20000    4.900000    5
...          ...          ...                  ...         ...  ...
1748         7.9         2.35                76000  133.029270  246
788          7.9         1.85                15000  -27.477648  247
99           7.9         2.35               166000  123.001229  248
1871         7.9         2.35                29000  120.000989  249
639          7.9         2.35                    0  -39.034803  250

[250 rows x 30 columns]

C:\Users\anany\AppData\Local\Temp\ipykernel_908\2793872475.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IMDb_Top_250['Rank'] = range(1, 251)

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [59]:
# Write your code for extracting the top 10 directors here
# Group the DataFrame by 'director_name' and calculate the mean IMDb score for each director
director_scores = movies_filtered2.groupby('director_name')['imdb_score'].mean()

# Sort the directors based on their mean IMDb score in descending order
top_directors = director_scores.sort_values(ascending=False)

# Select the top 10 directors
top10director = top_directors.head(10)

# Display the top 10 directors and their mean IMDb scores
print(top10director)

director_name
Akira Kurosawa       8.700000
Tony Kaye            8.600000
Charles Chaplin      8.600000
Alfred Hitchcock     8.500000
Ron Fricke           8.500000
Majid Majidi         8.500000
Damien Chazelle      8.500000
Sergio Leone         8.433333
Christopher Nolan    8.425000
Richard Marquand     8.400000
Name: imdb_score, dtype: float64

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [ ]:
# Write your code for extracting the first two genres of each movie here
movies_filtered2['genre_1'] = movies_filtered2['genres'].str.split('|').str.get(0)
movies_filtered2['genre_2'] = movies_filtered2['genres'].str.split('|').str.get(1)
movies_filtered2['genre_2'].fillna(movies_filtered2['genre_1'], inplace=True)

In [ ]:
movies_by_segment = movies_filtered2.groupby(['genre_1', 'genre_2'])

In [ ]:
PopGenre = movies_by_segment['gross'].mean().sort_values(ascending=False).head(5)
print (PopGenre)

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [66]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies_unique[movies_unique['actor_1_name'] == 'Meryl Streep']
Leo_Caprio = movies_unique[movies_unique['actor_1_name'] == 'Leonardo DiCaprio']
Brad_Pitt = movies_unique[movies_unique['actor_1_name'] == 'Brad Pitt']
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])
grouped_combined = Combined.groupby('actor_1_name')
mean_reviews = grouped_combined[['num_critic_for_reviews', 'num_user_for_reviews']].mean()
highest_mean =  mean_reviews.max()
actors_with_highest_mean = mean_reviews[mean_reviews.eq(highest_mean).any(axis=1)].index.tolist()
print("Actors with the highest mean of num_critic_for_reviews and num_user_for_reviews:")
print(actors_with_highest_mean, highest_mean)

Actors with the highest mean of num_critic_for_reviews and num_user_for_reviews:
['Leonardo DiCaprio'] num_critic_for_reviews    330.190476
num_user_for_reviews      914.476190
dtype: float64

**Checkpoint 6:** `Leonardo` has aced both the lists!